.class1 {
  border: 6px solid black;
  width: 100px + 100px;
  margin: 0px auto;
  display: inline-block;
}

#one {
  @extend .class1;
  border-color: red;
}

#two {
  @extend .class1;
  border-color: blue;
}

#third {
  @extend .class1;
  border-color: green;
}
div {
  width: 40%;
  margin: 0 auto;
}
