/* .container {
  background-color: red;
}
div {
  border: 1px solid black;
}
.polje {
  height: 100px;
}
.color1 {
  background-color: blue;
}
.color2 {
  background-color: yellow;
}
.color3 {
  background-color: mediumvioletred;
} */

.container {
  background-color: white;
}

div {
  border: 1px solid black;
}

.field {
  height: 280px;
}

.color {
  background-color: orange;
}
